body{background-color:yellow;}
p{color:pink; font-style:italic; font-family:"TIMES NEW ROMAN",serif;background-color:green}
h1{color:pink;font-style:italic background-color:green}
h2{color:red;font-style:oblique background-color:green }